body{
    font-family: "Montserrat", sans-serif;
    color: #FFA96B;
    background-color: #282828;
}

header{
    display: flex;
    justify-content: center;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px 10px black;
}

header h1{
    margin: 30px auto;
}

.container-fluid{
    display: flex;
    justify-content: center;
}

form{
    margin-top: 50px;
    box-shadow: 0 0 50px #FFA96B;
    height: 500px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}